{% load staticfiles %}
<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8" xmlns="http://www.w3.org/1999/html">
        <title>LibVis</title>
        <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
        <link href="{% static 'css/main.css'%}" rel="stylesheet">
        <script src="{% static 'js/jquery-2.1.3.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
    </head>
    
    <body>
        <div class="container-fluid">
            <div class="page-header">
                <h1 align="middle">图书借阅数据可视分析系统
                    <small>浙江大学SRTP项目</small>
                </h1>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" id="i0"></input>
                <button class="btn btn-default" id="query" onclick="startQuery()">查询</button>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>相关图书分类</h2>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">显示类型
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a onclick="chageTreeType(1)">树状图</a>
                                </li>
                                <li>
                                    <a onclick="chageTreeType(2);">可折叠树</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div id="treemap" style="height:500px"></div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>每月借阅次数统计</h2>
                    </div>
                    <!-- <div class="panel-body"> -->
                    <!-- <div id="lineChart" style="height:300px;width:1000px;align:center;border:2px solid #E3E3E3;margin-top:2px"> -->
                    <div id="lineChart" style="height:300px"></div>
                    <!-- </div> -->
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>相关图书列表</h2>
                    </div>
                    <div class="panel-body" style="height:500px;overflow:scroll">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>书名</th>
                                    <th>作者</th>
                                    <th>出版社</th>
                                    <th>ISBN</th>
                                </tr>
                            </thead>
                            <tbody id="bookTable"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'js/d3.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/echarts-all.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/line.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/table.js'%}"></script>
        <script type="text/javascript" src="{% static 'js/treemap.js'%}"></script>
        <script type="text/javascript">
            var GbookList;
            function startQuery () {
                    var searchKeys = document.getElementById("i0").value;
                    var searchKeyList = searchKeys.split(" ").join("_");
                    resetTable();
                    resetLine();
                    resetTreemap();
                    
                    d3.json("/bookList/"+searchKeyList, function(data){
                        GbookList = data;
                        // console.log(data);
                        updateTable(data);
                        updateTreemap(data);
                    });
            
                    d3.json("/timeSerial/"+searchKeyList, function(data){
                        // console.log(data);
                        updateLine(data);
                    });
            
            
            
                    // console.log("startQuery");
                }
        </script>
    </body>

</html>